<!doctype html>
<html>
    <head>
        <title>Titolo</title>
    <link rel="stylesheet" href="../styles/styles.css">
    
    </head>
    <body>
        <div>
            <form>
                <h1>Login page</h1>
                <input type="text" placeholder="Utente" id="utente"><br><br>
                <input type="password" placeholder="Password" id="pass"> <br><br>
                <input type="button" value="Bottone" onclick="login_funct()"> 
            </form>
        </div>
        <script src="../js/code.js" defer></script>
        <p>test</p>
    </body>
</html>